@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* background-color: 255, 255, 255; */
  padding: 8px;
}

body {
  /* background: black; */
  cursor: url('./Assests/Icons/cursor.png')16 16,auto;
  @apply flex flex-col items-center justify-center;
}

.tileSyle{
  @apply bg-neutral shadow-lg text-neutral-content p-4  rounded-md;
}
.tileSyle:hover{
  @apply hover:-translate-y-1 transition-all hover:shadow-xl hover:shadow-indigo-500/20;
}

.pointerShadow {
  width: 60px;
  height: 60px;
  background-color: rgb(99 102 241);
  opacity: 0.6;
  transform: translate(-50%, -50%);
  /* background-image: url('./Assests/Icons/cursor.png'); */
  /* background-image: url('./Assests/Images/blob_1.gif'); */
  border-radius: 99px;
  background-repeat: no-repeat;
  position: absolute;
  backdrop-filter: blur(50px);
  -webkit-filter: blur(50px);
  -moz-filter: blur(50px);
  -o-filter: blur(50px);
  -ms-filter: blur(50px);
  filter: blur(50px);
  animation: rotateAnimation 1s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 999px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  border-radius: 999px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff15;
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 999px;
}



